{% extends 'ProbesysCmsBundle::admin.html.twig' %}

{% block headline %}Dashboard{% endblock headline %}

{% block content %}
<div>
    Recent comments
</div>

<div>
    Recent drafts
</div>
{% endblock content %}
